<% provide(:title, @user.name) %>

<div class="row">
    <aside class="col-md-4">
        <section class="user-info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section class="chore_form">
            <%= render 'shared/chore_form' %>
            <%= link_to 'Receive a chore', '#', class: "btn btn-warning chore-button", data: { confirm: ("Chordle says: #{@chordle_says}") } %>
        </section>
    </aside>
    <main class="col-md-8">
        <% if @user.chores.any? %>
            <h3>Chores (<%= @user.chores.count %>)</h3>

            <ol class="chores">
                <%= render @chores %>
            </ol>

            <%= will_paginate @chores %>
        <% end %>
    </main>
</div>