<% provide(:title, @user.name) %>

<div class="row">
    <aside class="col-md-4">
        <section class="user-info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
    </aside>
    <main class="col-md-8">
        <% if @user.chores.any? %>
            <h3>Chores (<%= @user.chores.count %>) <%= link_to "Add a chore.", render(partial: 'shared/chore_form'), class: "btn btn-primary" %></h3>

            <ol class="chores">
                <%= render @chores %>
            </ol>

            <%= will_paginate @chores %>
        <% else %>
            <%= link_to "Add a chore.", render(partial: 'shared/chore_form'), class: "btn btn-primary" %>
        <% end %>
    </main>
</div>